<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="http://localhost:3000/images/icon-app.png">
  <link rel="stylesheet" href="http://localhost:3000/css/variables.css">
  <link rel="stylesheet" id="theme-colors" href="http://localhost:3000/css/colors/variables-general-colors.css">
  <link rel="stylesheet" id="colors-borders" href="http://localhost:3000/css/borders/variables-border.css">
  <title>NTTDATA-FRONTEND</title>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:* ws://192.168.1.32:8081; style-src 'unsafe-inline' https: http://localhost:3000; object-src 'none';">

  <meta name="importmap-type" content="systemjs-importmap" />
 
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">


  <% if (isLocal) { %>
  <script type="systemjs-importmap" src="/importmap.json"></script> 
  <% } %>

  <script type="module"  src='https://cdn.jsdelivr.net/npm/stencil-library-web@0.0.52/dist/stencil-library/stencil-library.esm.js'></script>
  <link rel="stylesheet"  type="text/css"  href='https://cdn.jsdelivr.net/npm/stencil-library-web@0.0.52/dist/stencil-library/stencil-library.css'></link>
  <script src="https://kit.fontawesome.com/d9bf3bb30e.js" crossorigin="anonymous"></script>
  
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"></link>

  <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

</head>
<style>
  body{
    background-color: var(--general-background-app);
    color: var(--general-text-color);
    font-family: var(--general-general-text-font);
  }
</style>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@spa-root/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
