@import "~@fortawesome/fontawesome-free/css/all.css";

:host {
  display: block;
}

li{
  list-style: none;
}

.toggle-button {
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
