:host {
  font-family: var(--text-fontFamily);
}

.img_logo {
  max-width: 150px;
  height: 40px;
}

.content-nav {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  position: fixed;
  min-height: 100vh;
  width: 15%;
  background-color: var(--nav-color);
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 50px;
  border-radius: 0 10px 10px 0px;
  padding: 6px 14px;
}

.content-nav .logo_content .logo {
  color: var(--logo-color);
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.content-nav ul {
  margin-top: 30px;
  list-style: none;
  padding: 10px;
}
.content-nav ul li-nav:hover {
  background-color: var(--nav-hover-li-a);
  color: var(--nav-hover-li);
  border-radius: var(--border-btn-radius);
}

.container-btn {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  justify-content: space-evenly;
}
