<h2>Angular</h2>

<p translate>web.angular.text_init</p>

<my-code text_code="{{ code_create_angular_microfrontend }}"></my-code>

<p translate>web.angular.text_config_main</p>

<div class="container_img">
  <img
    class="container_img_medium"
    src="http://localhost:3000/images/spa-web/main.png"
    alt="main.single-spa.ts"
  />
</div>

<p translate>web.angular.text_route</p>


<div class="container_img">
  <img
    class="container_img_medium"
    src="http://localhost:3000/images/spa-web/app-routing.png"
    alt="main.single-spa.ts"
  />
</div>

