<h2>Angular</h2>

<p>
  La combinación de Angular con Single-spa permite desarrollar microfrontends
  usando Angular como el framework principal para cada módulo. Cada
  microfrontend Angular puede ser desarrollado de manera independiente por
  equipos separados, lo que facilita la colaboración y la escalabilidad en
  proyectos grandes.
</p>

<pre> 
    <code [highlight]="code_create_angular_microfrontend" [languages]="['bash']"  linenumbers="true"></code> 
  </pre>


  <img src="http://localhost:9002/assets/main.png" alt="main.single-spa.ts">
