:root{
--nav-logo-color:#fff;
--nav-menu-color:#555555;
--nav-text-color:#fff;
--nav-btn-hover:#003fae;
--nav-hover-a:#fff;
--nav-btn-color:#003fae;
--general-background-app:#050505;
--general-text-color:#fff;
--general-btn-color:#000;}