:host {
  display: block;
}

.caja {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--nav-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
  box-sizing: border-box;
}


.texto {
  font-size: var(--text-font-size);
  transition: font-size 0.3s;
  color: var(--text-color);
}

