:host {
  display: block;
  font-family: "Poppins", sans-serif;
}


a {
  display: inline-block;
  color: var(--text-color-link);
  text-decoration: none;
  border-radius: var(--border-radius-btn);
  transition: background-color 0.3s;
}

a:hover {
  background-color: var(--text-color-hover-link);
}