

:host {
  display: block;
  font-family: var(--text-fontFamily);
}

button{
  border-radius: var(--border-btn-radius);
  padding: 5px 10px;
  background-color:var(--btn-color);
  border: none;
  color: #272343;
}