

:host {
  display: block;

}

button{
  border-radius: var(--border-btn-radius);
  padding: 5px 10px;
  background-color:var(--btn-color);
  border: none;
  color: var(--text-color-btn);
  font-family: var(--text-fontFamily);
}