@import "../../../tokens/variables.scss";

*{
    text-align: justify;
    font-size: calc($general-general-h4);
}

.hljs {
    display: block;
    color: white;
    font-family: "Operator Mono", "Fira Code", "Menlo", "Monaco", "Courier New",
      "monospace";
    line-height: 1.45;
    padding: 1rem;
    background: $general-general-color-code;
    font-weight: normal;
    border-radius: 0.5rem;
    margin-bottom: 15px;
  }

.container{
    margin-top: 40px;
    margin-left: 280px;
    margin-right: 40px;
}

h1{
    font-size: $general-general-h1-size;
    margin-bottom: 10px;
}

h2{
    font-size: $general-general-h2-size;
    margin-bottom: 10px;
}

h3{
    font-size: $general-general-h3-size;
    margin-bottom: 10px;
}



li {
    margin-left: 20px;
}


p{
    margin-bottom: 20px;
}

img{
    max-width: 800px;
    max-height: 400px;
}