
*{
    text-align: justify;
}


.container{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 40px;
}

@media only screen and (max-width: 768px) {
    .container{
        margin-top: 40px;
        margin-left: 50%;
        margin-right: 40px;
    }
  }

h1{
    font-size: var(--general-general-h1-size);
    margin-bottom: 10px;
}

h2{
    font-size: var( --general-general-h2-size);
    margin-bottom: 10px;
}

h3{
    font-size: var( --general-general-h3-size);
    margin-bottom: 10px;
}



li {
    margin-left: 20px;
}


p{
    margin-bottom: 20px;
    font-size: var(--general-general-text-size);
}

.container_img {
    display: flex;
    justify-content: center;


    &_small {
        max-width: 500px;
        max-height: 300px;
      }
  
    &_medium {
      max-width: 700px;
      max-height: 500px;
    }
  
    &_big {
      max-width: 1000px;
      max-height: 500px;
    }
  }