<h3 translate>libraries.translate.vue.tittle</h3>
<p translate>libraries.translate.vue.text_init</p>
<my-code text_code="{{ install_library_i18n_vue }}" />

<p translate>libraries.translate.vue.text_2</p>

<div class="container_img">
  <img
    class="container_img_medium"
    src="http://localhost:3000/images/spa-library/main.js-vue.png"
    alt="i18n"
  />
</div>
<p translate>libraries.translate.vue.text_3</p>

<div class="container_img">
  <img
    class="container_img_small"
    src="http://localhost:3000/images/spa-library/example-i18n-vue.png"
    alt="example-i18n-vue"
  />
</div>
