<h2>Stencil js</h2>

<p translate>stencil.init_text</p>
<h3 translate>stencil.tittle_isntall_stencil</h3>
<ul>
  <li translate>
    stencil.li_first_step
    <my-link text="Node" link="https://nodejs.org/"></my-link>
  </li>
  <li translate>stencil.li_second_step</li>
  <li translate>stencil.li_third_step</li>
</ul>

<pre> 
  <code [highlight]="code_npm_stencil_global" [languages]="['bash']"  linenumbers="true"></code> 
</pre>

<p translate>stencil.text_create_proyect</p>
<pre> 
  <code [highlight]="code_npm_create_proyect_stencil" [languages]="['bash']"  linenumbers="true"></code> 
</pre>

<p translate>stencil.text_create_webcomponent</p>

<pre> 
  <code [highlight]="code_create_web_component" [languages]="['bash']"  linenumbers="true"></code> 
</pre>

<p translate>stencil.text_ejecute_stencil</p>

<pre> 
  <code [highlight]="code_stencil_start" [languages]="['bash']"  linenumbers="true"></code> 
</pre>

<p translate>stencil.text_public_npm</p>

<p translate>stencil.text_public_code_npm</p>

<pre> 
  <code [highlight]="code_npm_login" [languages]="['bash']"  linenumbers="true"></code> 
</pre>
