<h2>Stencil js</h2>

<p translate>web.stencil.init_text</p>
<h3 translate>web.stencil.tittle_isntall_stencil</h3>
<ul>
  <li translate>
    web.stencil.li_first_step
    <my-link text="Node" link="https://nodejs.org/"></my-link>
  </li>
  <li translate>web.stencil.li_second_step</li>
  <li translate>web.stencil.li_third_step</li>
</ul>

<my-code text_code="{{ code_npm_stencil_global }}"></my-code>

<p translate>web.stencil.text_create_proyect</p>

<my-code text_code="{{ code_npm_create_proyect_stencil }}"></my-code>

<p translate>web.stencil.text_create_webcomponent</p>

<my-code text_code="{{ code_create_web_component }}"></my-code>

<p translate>web.stencil.text_ejecute_stencil</p>

<my-code text_code="{{ code_stencil_start }}"></my-code>

<p translate>web.stencil.text_public_npm</p>

<p translate>web.stencil.text_public_code_npm</p>

<my-code text_code="{{ code_npm_login }}"></my-code>
