@import "~@fortawesome/fontawesome-free/css/all.css";

:host {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text-color-nav);
}

.nav-item{
  display: flex;
  align-items: center; 
}

.nav-item i {
  margin-right: 10px;
  
}

a{
  text-decoration: none;
  color: var(--text-color-nav);
}

a:hover {
  color: var(--hover-color-text-a);
  background-color: var(--hover-color-background-a);
  border-radius: var(--border-radius-btn);
  padding-right: 5px;
  padding-left: 5px;
}
