:root{
--general-nav-btn-border-stroke:#000 1px solid;
--general-general-btn-border-stroke:#000 1px solid;
--dark-mode-nav-btn-border-stroke-dark:#fff 1px solid;
--dark-mode-general-btn-border-stroke:#000 1px solid;}