:root{
--color:#000;
--width:1px;
--style:solid;--color:#000;
--width:1px;
--style:solid;
--color:#000;
--width:1px;
--style:solid;--color:#000;
--width:1px;
--style:solid;
--color:#fff;
--width:1px;
--style:solid;--color:#fff;
--width:1px;
--style:solid;
--color:#000;
--width:1px;
--style:solid;--color:#000;
--width:1px;
--style:solid;}