<h2>React</h2>

<p>
  La combinación de React con Single-SPA permite desarrollar microfrontends
  usando React como el framework principal para cada microfrontend. Cada
  microfrontend React puede ser desarrollado de manera independiente por equipos
  separados, lo que facilita la colaboración y el desarrollo iterativo. Luego,
  estas partes individuales se pueden compilar y empaquetar de manera que se
  integren perfectamente en la aplicación general gestionada por Single-spa.
</p>

<p>
  Ejecute el siguiente comando para crear un microfrontend React con las
  dependencias y paquetes que se requieren en el framework Single-SPA.
</p>
<pre> 
    <code [highlight]="code_create_react_microfrontend" [languages]="['bash']"  linenumbers="true"></code> 
  </pre>

<p>
  Esto generará un proyecto con un componente básico de React el cúal es muy fácil modificar.
  Para está web se ha utilizado React para desarrollar la barra de navegación entre las
  diferentes pantallas.
</p>
