
.container{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 40px;
    text-align: justify;

    p{
    
        font-size: var(--general-general-text-size);

    }

    h1{
        font-size:var(--general-general-h1-size);

    }

    h2{
        font-size:var(--general-general-h2-size);

    }

    h3{
        font-size: var(--general-general-h3-size);
    }
}

@media only screen and (max-width: 768px) {
    .container{
        margin-top: 40px;
        margin-left: 50%;
        margin-right: 40px;
    }
  }


