.container {
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 40px;
  text-align: justify;

  h1 {
    font-size: var(--general-general-h1-size);
    color: var(--general-tittle-color);
  }
}

h2 {
  font-size: var(--general-general-h2-size);
  color: var(--general-tittle-color);
}

h3 {
  font-size: var(--general-general-h3-size);
  color: var(--general-tittle-color);
}
