

<div class="container_tittle">
    <h2 translate>libraries.style_dicctionary.tittle</h2>
    <img class="container_tittle_logo" src="http://localhost:3000/images/spa-library/style-dictionary.png" alt="logo">

</div>
<p translate>libraries.style_dicctionary.text_init</p>
<p translate>libraries.style_dicctionary.text_2</p>
<p translate>libraries.style_dicctionary.text_3</p>

<div class="container_img">
    <img class="container_img_small" src="http://localhost:3000/images/spa-library/example-figma-tokens.png" alt="tokens"/>
    <img  class="container_img_small" src="http://localhost:3000/images/spa-library/build-style-dictionary.png" alt="build.js">
</div>

<p translate>libraries.style_dicctionary.text_4</p>

<div class="container_img">
    <img class="container_img_small" src="http://localhost:3000/images/spa-library/custom-format-border.png" alt="tokens"/>
</div>