:root{
--nav-logo-color:#fff;
--nav-menu-color:#11101d;
--nav-text-color:#fff;
--nav-btn-hover:#4c4ce9;
--nav-hover-a:#fff;
--nav-btn-color:#D0E2ED;
--general-background-app:#dcdada;
--general-text-color:#000;
--general-btn-color:#11101d;
--general-color-code:#2d2b57;
--general-color-link:#4c00ff;
--general-color-hover-link:#0d8af1;
--general-color-text-code:#fff;}