:root{
--nav-logo-color:#fff;
--nav-menu-color:#555555;
--nav-text-color:#fff;
--nav-btn-hover:#003fae;
--nav-hover-a:#fff;
--nav-btn-color:#003fae;
--general-background-app:#050505;
--general-text-color:#fff;
--general-btn-color:#000;
--general-color-text-code:#fff;
--general-color-code:#2d2b57;
--general-color-hover-link:#0d8af1;
--general-color-link:#4c00ff;
--general-btn-primary:#1e90ff;}