:root{
--nav-menu-color:#f0291a;
--nav-logo-color:#fffffe;
--nav-text-color:#fffffe;
--nav-hover-a:#16161A;
--nav-btn-color:#7f5af0;
--nav-hover-link:#7f5af0;
--general-background-app:#16161a;
--general-tittle-color:#fffffe;
--general-text-color:#94a1b2;
--general-color-text-code:#94a1b2;
--general-color-code:#242629;
--general-color-hover-link:#0d8af1;
--general-color-link:#2cb67d;
--general-btn-primary:#7f5af0;
--general-color-primary-separate-bar:#010101;
--general-color-secondary-separate-bar:#2cb67d;
--general-color-tertiary-separate-bar:#FFF;
--general-color-btn-text:#fffffe;}