:root{
--nav-logo-color:#FFF;
--nav-menu-color:#070E27;
--nav-text-color:#FFF;
--nav-hover-link:#ffd803;
--nav-hover-a:#fff;
--nav-btn-color:#ffd803;
--general-background-app:#fffffe;
--general-text-color:#2d334a;
--general-tittle-color:#272343;
--general-color-code:#e3f6f5;
--general-color-link:#ffd803;
--general-color-hover-link:#0d8af1;
--general-color-text-code:#272343;
--general-btn-primary:#ffd803;
--general-color-primary-separate-bar:#272343;
--general-color-secondary-separate-bar:#2B7E3D;
--general-color-tertiary-separate-bar:#5E5E5E;
--general-color-btn-text:#272343;}