@import "../../../tokens/variables.scss";

.container h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: $general-general-h1-size;
}
.container {
  margin-top: 40px;
  margin-left: 280px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.container text-box {
  margin-bottom: 30px;
  font-size: $general-general-text-size;
  text-align: justify;
}

p {
  font-size:$general-general-text-size;
  text-align: justify;
}
