<div class="container">

  <h1 translate> home.tittle</h1>

  <div class="container2">
    <p translate>
     home.init
    </p>
    <br />

    <text-box
      text=" ¿Te has preguntado cómo diferentes aplicaciones independientes pueden unirse
        para formar un sitio coherente y colaborativo? Bueno, eso es exactamente lo
        que hemos logrado aquí. Nuestro enfoque en microfrontends nos permite
        desarrollar, desplegar y mantener cada parte de la aplicación de forma
        independiente, lo que nos proporciona una mayor flexibilidad y facilidad de
        desarrollo. Cada microfrontend es una pequeña aplicación independiente
        que puede ser escrita en diferentes frameworks o tecnologías, y sin embargo,
        todas trabajan juntas sin problemas en este sitio web."
    ></text-box>

    <p translate>
      home.final
    </p>
  </div>
</div>
